Repository shuttleday/shuttleday: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Jenkinsfile:

pipeline {

    agent any

    tools {
        nodejs 'nodejs'
    }

    stages {
        
        stage ("Build Backend") {
            when { changeset "bdlist-backend/"}
            steps {
                dir("bdlist-backend") {
                    sh 'pnpm i'
                    sh 'pnpm build'
                }
            }
        }
        stage("Docker Compose Up") {
            steps {
                sh 'sudo docker compose up'
            }
        }
        
        stage ("Build Frontend") {
            when { changeset "bdlist-frontend/"}
            steps {
                sh 'echo hi'
            }
        }
    }
}

cicd: fix docker compose up stage
  Jenkinsfile
Due: none

cicd: fix changeset syntax
  Jenkinsfile
Due: none

cicd: update when condition
  Jenkinsfile
Due: none

cicd: add compose build flag
  Jenkinsfile
Due: none

cicd: set server port
  bdlist-backend/Dockerfile
Due: Build Backend

feat: change logging based on env
  bdlist-backend/src/utils/logger.ts
Due: Build Backend

fix: pino pretty as dep
  bdlist-backend/package.json
  bdlist-backend/pnpm-lock.yaml
Due: Build Backend

fix: add detached flag
  Jenkinsfile
Due: none

feat: 404 error page implemented
  bdlist-frontend/src/App.js
  bdlist-frontend/src/img/Mikel.jpg
  bdlist-frontend/src/pages/NotFound.jsx
Due: Build Frontend

cicd: add prod envvars
  Jenkinsfile
  bdlist-backend/.env.example.production
  bdlist-backend/Dockerfile
  bdlist-backend/docker-compose.yml
Due: Build Backend

cicd: use docker compose env vars
  Jenkinsfile
  bdlist-backend/docker-compose.yml
Due: Build Backend

cicd: fix syntax
  Jenkinsfile
Due: none

refactor: remove api prefix
  bdlist-backend/src/routes.ts
  bdlist-backend/src/utils/functions.ts
Due: Build Backend

fix: add preceding slash
  bdlist-backend/src/middleware/authenticate.ts
  bdlist-backend/src/routes.ts
Due: Build Backend

fix: add response for failed auth
  bdlist-backend/src/middleware/authenticate.ts
Due: Build Backend

feat: complete s3 image upload
  bdlist-backend/src/routes.ts
Due: Build Backend

refactor: migrate to aws sdk v3
  bdlist-backend/package.json
  bdlist-backend/pnpm-lock.yaml
  bdlist-backend/src/routes.ts
  bdlist-backend/src/utils/functions.ts
Due: Build Backend

feat: add adminCheck middleware
  bdlist-backend/src/middleware/validateRequest.ts
Due: Build Backend

feat: change authorization handling
  bdlist-backend/src/middleware/authenticate.ts
Due: Build Backend

fix: button alignment fix
  bdlist-frontend/src/pages/GLogin.jsx
Due: Build Frontend

fix: responsive image implemented
  bdlist-frontend/src/pages/NotFound.jsx
Due: Build Frontend

feat: add get payment receipts
  bdlist-backend/package.json
  bdlist-backend/pnpm-lock.yaml
  bdlist-backend/src/routes.ts
Due: Build Backend

refactor: use routers
  bdlist-backend/src/middleware/validateRequest.ts
  bdlist-backend/src/routes.ts
  bdlist-backend/src/routes/game-sessions.ts
  bdlist-backend/src/routes/users.ts
Due: Build Backend

refactor: move user validation to middleware
  bdlist-backend/src/middleware/validateRequest.ts
  bdlist-backend/src/routes/users.ts
Due: Build Backend

refactor: migrate to docker compose env vars
  bdlist-backend/.env.example.production
  bdlist-backend/src/middleware/validateRequest.ts
Due: Build Backend

feat: Payment page styling completed
  bdlist-frontend/src/App.css
  bdlist-frontend/src/BankQR.jpg
  bdlist-frontend/src/pages/Home.jsx
Due: Build Frontend

feat: add required key validation
  bdlist-backend/src/index.ts
  bdlist-backend/src/middleware/validateRequest.ts
  bdlist-backend/src/middleware/validation.ts
  bdlist-backend/src/routes.ts
Due: Build Backend

fix: rename modal functions for merge
  bdlist-frontend/src/pages/Home.jsx
Due: Build Frontend

feat: add get users endpoint
  bdlist-backend/src/routes/users.ts
Due: Build Backend

fix: fixed modal merge conflict
  bdlist-frontend/src/pages/Home.jsx
Due: Build Frontend

refactor: simplify error messages
  bdlist-backend/src/index.ts
  bdlist-backend/src/middleware/validateRequest.ts
  bdlist-backend/src/middleware/validation.ts
  bdlist-backend/src/routes/users.ts
Due: Build Backend

docs: update comments
  bdlist-backend/src/middleware/authenticate.ts
Due: Build Backend

feat: add gapi oauth2 flow
  bdlist-backend/src/middleware/authenticate.ts
Due: Build Backend

chore: add nodemon as devdep
  bdlist-backend/package.json
  bdlist-backend/pnpm-lock.yaml
Due: Build Backend

refactor: remove unnecessary return
  bdlist-backend/src/middleware/validateRequest.ts
Due: Build Backend

feat: add jwt and gjwt auth flow
  bdlist-backend/src/db/interfaces.ts
  bdlist-backend/src/middleware/authenticate.ts
  bdlist-backend/src/middleware/g-auth.middleware.ts
  bdlist-backend/src/routes.ts
  bdlist-backend/src/routes/g-auth.ts
  bdlist-backend/src/routes/signin.ts
  bdlist-backend/src/utils/functions.ts
Due: Build Backend

feat: secure get users endpoint
  bdlist-backend/src/routes/users.ts
Due: Build Backend

refactor: move jwt funcs
  bdlist-backend/src/middleware/authenticate.ts
  bdlist-backend/src/routes.ts
  bdlist-backend/src/routes/auth.ts
  bdlist-backend/src/routes/signin.ts
  bdlist-backend/src/utils/functions.ts
Due: Build Backend

feat: add request to error logging
  bdlist-backend/src/middleware/g-auth.middleware.ts
  bdlist-backend/src/routes.ts
  bdlist-backend/src/routes/g-auth.ts
  bdlist-backend/src/routes/game-sessions.ts
  bdlist-backend/src/routes/users.ts
Due: Build Backend

feat: add auth payload validation
  bdlist-backend/src/middleware/validation.ts
Due: Build Backend
